fastapi
uvicorn
python-multipart
sqlalchemy
sqlmodel
psycopg2-binary
alembic
pydantic
python-jose
passlib[bcrypt]
opencv-python
pytesseract
pillow
python-dotenv
email-validator
black
flake8
isort
bcrypt
easyocr
numpy
imutils